html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url(../images/beige-tiles.png);
  background-color: #97deff;
  color: #777777;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  padding: 10px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #777777;
}
a:hover {
  color: teal;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  text-decoration: none;
}
h1 {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
}
h2 {
  color: teal;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 350px 50px;
  grid-template-rows: 90px 40px 350px auto 50px;
  grid-template-areas:
    "heading heading heading heading heading"
    "nav nav nav nav nav"
    ". main main info ."
    ". project project project ."
    "footer footer footer footer footer";
}
.port-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 90px 40px auto 50px;
  grid-template-areas:
    "heading heading heading"
    "nav nav nav"
    ". port-display ."
    "footer footer footer";
}
.port-display {
  grid-area: port-display;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #cccccc;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 30px 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "port1 port2 port3 port4"
    "port5 port6 port7 port8";
}
.my-heading {
  font-family: "Georgia", "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: teal;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: heading;
}
.navigation {
  background-color: #ffffff;
  border-bottom: 4px solid;
  border-color: #cccccc;
  text-decoration: none;
  color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
}
.about {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #cccccc;
  grid-area: main;
}
.information {
  background-color: lightgrey;
  grid-area: info;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.projects {
  background-color: burlywood;
  grid-area: project;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #cccccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "title title title title"
    "link1 link2 link3 link4";
}
.project-div {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
  border-color: #cccccc;
  border: 2px solid;
}
.current-project-image {
  width: 250px;
  height: 250px;
  display: block;
}
.overlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: teal;
  overflow: hidden;
  width: 0;
  height: 25%;
  transition: 0.5s ease;
}
.card-hover:hover .overlay {
  width: 100%;
}
.overlay-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.active-modal {
  display: block;
}

.modal-content {
  margin: auto;
  display: block;
  width: 400px;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.contact-display {
  grid-area: port-display;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #cccccc;
}
.form-group {
  margin-top: 20px;
}
.form-control {
  width: 95%;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  margin-top: 10px;
}
#contact-message {
  height: 200px;
}
.btn-submit {
  color: white;
  margin-top: 10px;
  background-color: teal;
  border-color: teal;
  font-size: 18px;
  height: 45px;
  width: 100px;
}
.btn-submit:hover {
  background-color: #006666;
  border-color: teal;
}
.my-footer {
  background-color: #666666;
  box-sizing: border-box;
  border-top: 8px solid;
  border-color: teal;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}
#footer-text {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#profile-pic {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid teal;
  grid-area: portimage;
}
#portinfo {
  grid-area: portinfo;
}
#project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
}
#project1 {
  grid-area: link1;
}
#project2 {
  grid-area: link2;
}
#project3 {
  grid-area: link3;
}
#project4 {
  grid-area: link4;
}
#port1 {
  grid-area: port1;
}
#port2 {
  grid-area: port2;
}
#port3 {
  grid-area: port3;
}
#port4 {
  grid-area: port4;
}
#port5 {
  grid-area: port5;
}
#port6 {
  grid-area: port6;
}
#port7 {
  grid-area: port7;
}
#port8 {
  grid-area: port8;
}
#pages-link:hover {
  color: teal;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
#repository-link:hover {
  color: teal;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 90px 40px 400px auto auto 40px;
    grid-template-areas:
      "heading"
      "nav"
      "info"
      "main"
      "project"
      "footer";
  }
  .about {
    margin-right: 0;
  }
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    padding-bottom: 30px;
    grid-template-areas:
      "title"
      "link1"
      "link2"
      "link3"
      "link4";
  }
  .overlay {
    width: 100%;
  }
  .modal-content {
    width: 80%;
  }
  .port-container {
    min-height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 90px 40px auto 40px;
    grid-template-areas:
      "heading"
      "nav"
      "port-display"
      "footer";
  }
  .port-display {
    grid-auto-columns: 1fr;
    grid-auto-rows: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "port1"
      "port2"
      "port3"
      "port4"
      "port5"
      "port6";
  }
}
